body{
  background-color: #23272a;
  background-image: url("/images/Casino/stars.gif");
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 5px;
  padding: 2px;
}

.second-grid-containter{
  display: grid;
  grid-template-columns: auto auto auto;
}

.title{
  grid-area: 2 / 2 / 2 / 6;
  font-size: 72px;
  max-width: 500px;
  max-height: 100px;
  text-align: center;
  color: #fff;
  animation: titleGlow 1s ease-in-out infinite alternate;
  font-family: 'Lobster Two', cursive;
}

@keyframes messageGlow {
from {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #F9F39F, 0 0 20px #F9F39F, 0 0 25px #F9F39F, 0 0 30px #F9F39F, 0 0 35px #F9F39F;
  }
  to {
    box-shadow: 0 0 10px #fff, 0 0 15px #FBF8C5, 0 0 20px #FBF8C5, 0 0 25px #FBF8C5, 0 0 30px #FBF8C5, 0 0 35px #FBF8C5, 0 0 40px #FBF8C5;
  }
}

@keyframes titleGlow {
  from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #A21715, 0 0 40px #A21715, 0 0 50px #A21715, 0 0 60px #A21715, 0 0 70px #A21715;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #E53B38, 0 0 40px #E53B38, 0 0 50px #E53B38, 0 0 60px #E53B38, 0 0 70px #E53B38, 0 0 80px #E53B38;
    }
  }
  
.Background{

  background-image: url("/images/Casino/whitebg.png");
  height: 565px;
  max-width: auto;
  background-size: cover;
  grid-area: 3 / 1 / 9 / 6;
  border: #23272a solid 10px;
}

#btn{
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  color: #0062B8;
  height: 50%;
  transition-duration: 0.4s;
  background-color: white;  
  border: 2px solid white;
  grid-area: 3/ 6 / 3 /7;
  animation: buttonGlow 1s ease-in-out infinite alternate;
}
#btn1{
border-radius: 8px;
display: inline-block;
text-align: center;
color: #0062B8;
height: 50%;
transition-duration: 0.4s;
background-color: white;  
border: 2px solid white;
grid-area: 4/ 6 / 4 /7;
animation: buttonGlow 1s ease-in-out infinite alternate;
}
#btn2{
border-radius: 8px;
display: inline-block;
text-align: center;
color: #0062B8;
height: 50%;
transition-duration: 0.4s;
background-color: white;  
border: 2px solid white;
grid-area: 5/ 6 / 5 /7;
animation: buttonGlow 1s ease-in-out infinite alternate;
}
#btn3{
border-radius: 8px;
display: inline-block;
text-align: center;
color: #0062B8;
height: 50%;
transition-duration: 0.4s;
background-color: white;  
border: 2px solid white;
grid-area: 6/ 6 / 6 /7;
animation: buttonGlow 1s ease-in-out infinite alternate;
}
#btn4{
border-radius: 8px;
display: inline-block;
text-align: center;
color: #0062B8;
height: 50%;
transition-duration: 0.4s;
background-color: white;  
border: 2px solid white;
grid-area: 7/ 6 / 7 /7;
animation: buttonGlow 1s ease-in-out infinite alternate;
}
#btn5{
border-radius: 8px;
display: inline-block;
text-align: center;
color: #A21715;
height: 50%;
transition-duration: 0.4s;
background-color: white;  
border: 2px solid white;
grid-area: 8/ 6 / 8 /7;
animation: buttonUGlow 1s ease-in-out infinite alternate;
}

#btn:disabled, #btn1:disabled, #btn2:disabled, #btn3:disabled, #btn4:disabled, #btn5:disabled{
background-color: #cccccc;
border: 2px solid #cccccc;
}

@keyframes buttonGlow {
from {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0062B8, 0 0 20px #0062B8, 0 0 25px #0062B8, 0 0 30px #0062B8, 0 0 35px #0062B8;
  }
  to {
    box-shadow: 0 0 10px #fff, 0 0 15px #0083F5, 0 0 20px #0083F5, 0 0 25px #0083F5, 0 0 30px #0083F5, 0 0 35px #0083F5, 0 0 40px #0083F5;
  }
}

@keyframes buttonUGlow {
from {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #A21715, 0 0 20px #A21715, 0 0 25px #A21715, 0 0 30px #A21715, 0 0 35px #A21715;
  }
  to {
    box-shadow: 0 0 10px #fff, 0 0 15px #E53B38, 0 0 20px #E53B38, 0 0 25px #E53B38, 0 0 30px #E53B38, 0 0 35px #E53B38, 0 0 40px #E53B38;
  }
}

#btn:hover, #btn1:hover, #btn2:hover, #btn3:hover, #btn4:hover, #btn5:hover, #btnMoney:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#btn:active, #btn1:active, #btn2:active, #btn3:active, #btn4:active {
background-color: #0083F5;
box-shadow: 0 5px #0062B8;
border: #0083F5 2px solid;
transform: translateY(4px);
}

#btn5:active{
background-color: #E53B38;
box-shadow: 0 5px #A21715;
border: #E53B38 2px solid;
transform: translateY(4px);
}

#btnMoney:active{
background-color: #fff;
box-shadow: 0 5px #fff;
transform: translateY(4px);
}

#btnMoney{
  border-radius: 50%;
  max-height: 150px;
  cursor:pointer;
  border:none;
  max-width: 150px;
  grid-area: 3/ 1 / 1 / 2;
}

.moneyShow{
grid-area: 3 / 6 / 1 / 7;
background-size: 200px;
text-align: center;
background-position: center;
background-repeat: no-repeat; 
color: #fff; 
}

#Money{
text-align: center;
padding-top: 35%;
padding-left: 3vw;
font-size: 35px;
max-height: fit-content;
max-width: fit-content;
}

#lotto{
display: inline;
color: #fff;
grid-area: 2 / 1 / 1 / 1;
}
#slots, #slotDisplay {
display: inline;
grid-area: 2 / 2 / 1 / 1;
color: #fff;
}
#poker, #pokerDisplay{
display: inline;
grid-area: 2 / 3 / 1 / 1;
color: #fff;
}
#bljk,#bljkDisplay{
display: inline;
float: left;
color: #fff;
}
#roul,#roulDisplay{
display: inline;
float: right;
color: #fff;
}