.indexBar {
    background-color: rgb(0 0 0 / 90%);
}

.gameList {
    color: #e5e5e5;
}

.titleColor{
    background-color: rgb(0 0 0 / 90%);
    color: #e5e5e5;
}

.btnColor{
    background-color: rgb(0 0 0 / 90%);
    color: #e5e5e5;
}