.titleColor{
    color: #ccc;
}

#cardText{
    color: #ccc;
}

.btnColor{
    color: #57F2CB;
}

.background{
    background-color: #2c2f33;
}

#navBar{
    border-bottom: #57F2CB solid 4px;
    background-color: #1C1F21;
}

#footerBar{
    border-top: #57F2CB solid 4px;
    background-color: #1C1F21;
}

/* add shadow to cards */
#cardPadding{
    background-color: #1C1F21;
    /* border: #0ab9e6 solid 4px; */
}

.signoutBtn{
    background-color: #2c2f33;
    color: #ccc;
    border: #57F2CB solid 2px;
}

.btnSize{
    background-color: #23272a;
    color: #ccc;
    border: #57F2CB solid 2px;
}

#search{
    border: #57F2CB solid 2px;
    background-color: #171717;
    color: #ccc;
}

.GameInstructions{
    color: #ccc;
}

/*
    Light Black : #2c2f33
    Black : #23272a

        CHANGE HUE
    Dark Purple : #404eed
    Purple : #5865f2 #57F2CB

    Gray : #99aab5
*/