a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #ccc;
}

.btn-primary {
  color: #fff;
  background-color: #ccc;
  border-color: #fff;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #ccc;
  border-color: #fff;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* further project css formatting
----------------------------------- */
.center{
  display: flex;
  align-items: center;
}

.imgSize {
  height: 8rem;
  width: 14rem;
  padding-right: 2rem;
}

.title {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  /* background-image: url("pics/background.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.centerBar {
  padding: 14rem 0rem;
}

#cardPadding{
  margin: 1rem 0rem;
}

.btnSize {
  margin: 3% 2%;
  height: 50px;
  width: 100px;
  border-radius: 5%;
}

.inputForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}

.logo{
  height: 50px;
}
/* page formatting for project
------------------------------------------ */
.center{
  display: flex;
  justify-content:center;
  flex-direction:column;
}

.title {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerBar {
  padding: 14rem 0rem;
}

#cardPadding{
  margin: 1rem 0rem;
}

.btnSize {
  margin: 3% 2%;
  height: 50px;
  width: 100px;
  border-radius: 5%;
}

.inputForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}

.dSize{
  font-size: 12px;
}

.logo{
  height: 50px;
}

.cardSize{
  height: 17rem;
  width: 28rem;
}

.side-by-side{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 1rem;
}

.library{
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 0rem -5rem;
}

.signoutBtn{
  border-radius: 10%;
  height: 35px;
  width: 80px;
}

.searchbar{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0rem 5rem;
}

.searchBtnSize{
  height: 34px;
  border-radius: 5px;
  margin-left: 10px;
}

.searchbarSize{
  height: 35px;
  border-radius: 10px;
  width: 15rem;
}

#result {
	position: absolute;
	width: 300px;
	cursor: pointer;
	overflow-y: auto;
	max-height: 400px;
	box-sizing: border-box;
	z-index: 1001;
 }
 .link-class:hover{
  background-color:#f1f1f1;
 }

 .resultList{
	margin-top: 20%;
 }

 .UnityGame{
  height: 45rem
 }

 .GameInstructions{
  display: flex;
  flex-direction: column;
 }

 .top-bottom{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10% 0% 3% 5%;
 }