.indexBar {
    background-color: rgb(35, 39, 42 / 90%);
}

.gameList {
    color: #CCCCCC;
}

.titleColor{
    background-color: rgb(35, 39, 42 / 0%);
    color: #CCCCCC;
}

.btnColor{
    background-color: rgb(35, 39, 42 / 90%);
    color: #CCCCCC;
}

/*
    DarkPink : #501F3A, (80, 31, 58)
    BrightPink : #CB2D6F, (203, 45, 111)

    White : #CCCCCC, (204, 204, 204)
    Black : #23272A, (35, 39, 42)

    BrightBlue : #14A098, (20, 160, 152)
    DarkBlue : #0F292F, (15, 41, 47)

    Black background with white text for peak gamer aesthetic
    Pinks and Blues using as accents and borders
*/