<!DOCTYPE html>

<head>
    <!-- cdns -->
    <%- include('./cdns.ejs')%>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<footer class="footer indexBar">
    <div class="container side-by-side">
        <img class="logo" src="css/pics/puma.png" />
        <div class="titleColor">RetroCade&copy; 2022 OnlineLibrary</div>
    </div>
</footer>

</html>