<!DOCTYPE html>
<html>

<head>
	<!-- cdns -->
	<%- include('./cdns.ejs')%>
</head>

<body>
	<div class="minusPadding">
		<div class="row">
			<div class="card cardSize" id="cardPadding">
				<h4 class="title">Title</h4>
				
				<div class="card-body side-by-side">
					<img class="imgSize" src="~/css/pics/@Model.Image" />
					<div class="text-left">
						<h6>Genre: Genre</h6>
						<h6>Game Description: <p class="dSize">Lorem ipsum dolor sit amet consectetur adipisicing elit.
							Nisi doloribus pariatur ipsum voluptatum impedit, quam qui. Facilis mollitia
							molestiae quos, nulla iusto est ea enim accusantium unde eligendi in similique
							dolorem laudantium distinctio! Magnam consequatur repellat dolores iure aliquid maxime!</p>
						</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>