<!DOCTYPE html>
<html>
<head>  
	<!-- cdns -->
	<%- include('./cdns.ejs')%>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- //<title>@ViewData["Title"] - WebApplication1</title>// -->
	<!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> -->
	<link rel="stylesheet" href="/css/siteColors.css" />
	<link rel="stylesheet" href="/css/site.css" />
		
</head>

<body class="background">
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3 indexBar indexBar">
			<div class="container">

				<a class="navbar-brand titleColor" ><img class="logo" src="~/pics/logo.png" />RetroCade</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between titleColor">
					<ul class="navbar-nav flex-grow-1">
							<li class="nav-item">
								<a class="nav-link titleColor">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link titleColor " >Collection</a>
							</li>
							<li class="nav-item">
								<a class="nav-link titleColor" >Search</a>
							</li>
						<div>
							<li class="nav-item">
								<a class="nav-link titleColor">Signout</a>
							</li>
						</div>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			<!-- @RenderBody() -->
			<form action="login" method="post" class="inputForm">
				<div>
					<input required name="username" placeholder="UserName"/>
					<input required name="password" placeholder="Password"/>
				</div>
				<button type="submit" class="btnSize btnColor" name="login">Log In</button>
			</form>
		</main>
	</div>

	<footer class="footer indexBar">
		<div class="container">
			<img class="logo" src="~/css/pics/logo.png" />
			<dive class="titleColor">RetroCade&copy; 2022 OnlineLibrary</dive>
			<!-- AGomezTECH&copy;  @DateTime.Now.Year - GameLibrary -->
		</div>
	</footer>
	<!-- <script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script> -->
	<!-- @await RenderSectionAsync("Scripts", required: false) -->
</body>
</html>