<!DOCTYPE html>
<html>
	<head>
		<!-- cdns -->
		<%- include('./cdns.ejs')%>
	</head>
	
	<body class="background">
		<main role="main" class="pb-3 center">
			<!-- @RenderBody() -->
			<form action="login" method="post" class="inputForm">
				<div>
					<input required name="username" placeholder="Username"/>
					<input required name="password" placeholder="Password" type="password"/>
				</div>
				<a href="">
				<button type="submit" class="btnSize btnColor" name="login">Log In</button>
                </a>
			</form>
			<a href="/register">
			<button type="submit" class="btnSize btnColor" name="register" id="_LoginView">Register</button>
			</a>
		</main>
    </body>
</html>
