<!DOCTYPE html>

<html>
	<head>
		<!-- cdns -->
		<%- include('./cdns.ejs')%>
	</head>
	
	<body>
		<form>
            <div>
                <input required name="username" placeholder="UserName"/>
				<input required name="password1" placeholder="Password"/>
				<input required name="password2" placeholder="Re-enter Password"/>
            </div>
            <button type="submit">Log In</button>
        </form>
	</body>
</html>