<!DOCTYPE html>

<html>
	<head>
		<!-- cdns -->
		<%- include('./cdns.ejs')%>
	</head>
	
	<body>
		<form action="register" method="post">
            <div>
                <input required name="username" placeholder="UserName"/>
				<input required name="password" placeholder="Password"/>
				<input required name="email" placeholder="Email"/>
				<input required name="confpassword" placeholder="confirm Password"/>
            </div>
            <button type="submit">Log In</button>
        </form>
	</body>
</html>