<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../cdns.ejs')%>
        <%- include('../PageNavBar.ejs')%>
        <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/casino.css">
        <title>Casino Hustler</title>
    </head>

<body id="Body">
    <div class="grid-container">
        <input id="btnMoney" onclick="chipClicked()" type="image" value="" src="/images/Casino/PokerChip.png"/>

        <div class="title">Casino Hustler</div> 

        <div class="moneyShow">
            <div id="Money"></div>
        </div>

        <div class="Background" id="Background">
            <div class="second-grid-containter">
                <div>
                    <img id="lotto" src="/images/Casino/lotto.png" style="display: none;" height="150px" >
                </div>
                
                <div>
                    <img id="slots" src="/images/Casino/slot.png" style="display:none;"height="150px" >
                </div>
            
                <div>
                    <img id="poker" src="/images/Casino/poker.png" style="display:none;" height="150px" >
                </div>
          
                <div>

                    <img id="bljk" src="/images/Casino/bljk.png" style="display:none;" height="150px" >
                </div>

                <div>
                    <img id="roul" src="/images/Casino/roul.png" style="display:none;" height="150px" >
                </div>
            </div>
        </div>

        <button id="btn" onclick="lottoClicked()"></button>

        <button id="btn1" onclick="slotsClicked()"></button>
      
        <button id="btn2" onclick="pokerClicked()"></button>

        <button id="btn3" onclick="bljkClicked()" disabled></button>

        <button id="btn4" onclick="roulClicked()" disabled></button>

        <button id="btn5" onclick="updateClicked()"></button>

        <script src="/js/casino.js"></script>
    </div>
    
    <div class="Footer">
        <%- include('../Footer.ejs')%>
    </div>
</body>
</html>

