<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title>Conway's Game of Life</title>
		<%- include('unityTemplateHead', {buildFolder: "/unityBuilds/cgl"}) %>
	</head>
	<body>
		<%- include('../PageNavBar') %>
		<div class="UnityGame">
			<%- include('unityTemplateBody', {name:"Conway's Game of Life"}) %>
		</div>
		<%- include('../Footer') %>
	</body>
</html>
