<!DOCTYPE html>

<html>
	<head>
		<%- include('gameboyTemplateHead', {rom:"PokemonCrystal.gbc"}) %>
	</head>
	<body>
		<%- include('../PageNavBar') %>
		<%- include('gameboyTemplateBody') %>
		<%- include('../Footer') %>
	</body>
</html>