<!DOCTYPE html>

<html>

<head>
	<%- include('gameboyTemplateHead', {rom:"PokemonCrystal.gbc"}) %>
</head>

<body class="background">
	<%- include('../PageNavBar') %>
	<div class="top-bottom">
		<%- include('gameboyTemplateBody') %>
		<div class="GameInstructions">
			<h3>Game Controls</h3>
			<p>
				Z = B button<br>
				X = A button<br>
				Enter = Start<br>
				Shift = Select<br>
				Arrow Keys to Move
			</p>
		</div>
	</div>
	<%- include('../Footer') %>
</body>

</html>