<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title>super monky ball</title>
		<%- include('unityTemplateHead', {buildFolder: "/unityBuilds/smb"}) %>
	</head>
	<body>
		<%- include('../PageNavBar') %>
		<%- include('unityTemplateBody', {name:"super monky ball"}) %>
		<%- include('../Footer') %>
	</body>
</html>
