<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title>super monky ball</title>
		<%- include('unityTemplateHead', {buildFolder: "/unityBuilds/smb"}); %>
	</head>
	<body>
		<%- include('unityTemplateBody') %>
	</body>
</html>
