<!DOCTYPE html>
<html>
	<head>
		<%- include('../PageNavBar.ejs')%>
		<%- include('../cdns.ejs')%>
	</head>
	
	<body style="overflow: hidden;">
		<canvas id="invadersCanvas"></canvas>
		<script src="../../js/spaceInvaders.js"></script>
	</body>

	<footer>
		<%- include('../Footer.ejs')%>
	</footer>
</html>