<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title>Space Shooter</title>
		<%- include('unityTemplateHead', {buildFolder: "/unityBuilds/SpaceShooter"}); %>
	</head>
	<body>
		<%- include('unityTemplateBody') %>
	</body>
</html>
