<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title>Space Shooter</title>
		<%- include('unityTemplateHead', {buildFolder: "/unityBuilds/spaceShooter"}); %>
	</head>
	<body class="background">
		<%- include('../PageNavBar') %>
		<div class="UnityGame">
			<%- include('unityTemplateBody', {name:"SpaceShooter"}) %>
		</div>
		<%- include('../Footer') %>
	</body>
</html>
