<!DOCTYPE html>

<html>
    <head>
        <%- include('../cdns.ejs')%>

        <script src="/js/util.js"></script>
        <script src="/js/smb.js"></script>
    </head>

    <body>
        hello
    </body>
</html>
