<!DOCTYPE html>
<html>
	<head>  
        <!-- cdns -->
        <%- include('../cdns.ejs')%>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

    <body>
        <h2>Tic-Tac-Toe<h2>
    </body>
</html>