<!DOCTYPE html>

<html>

<head>
	<%- include('gameboyTemplateHead', {rom:"Legend of Zelda Link's Awakening.gbc"}) %>
</head>

<body>
	<%- include('../PageNavBar') %>
	<div class="top-bottom">
		<%- include('gameboyTemplateBody') %>
	</div>
	<%- include('../Footer') %>
</body>

</html>